<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteNetLib" version="0.8.3.1" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="RGB.NET.Core" version="0.0.1.78" targetFramework="net461" />
  <package id="RGB.NET.Devices.CoolerMaster" version="0.0.1.78" targetFramework="net461" />
  <package id="RGB.NET.Devices.Corsair" version="0.0.1.78" targetFramework="net461" />
  <package id="RGB.NET.Devices.Razer" version="0.0.1.78" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>